{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-9">
                <h1 align="center"><span class="glyphicon glyphicon-user"></span> <small>Форма регистрации модели</small></h1>
                <form action="{{ url_for('index') }}" method="POST" enctype="multipart/form-data" class="form-horizontal">
                    {{ form.csrf_token }}
                    {% for field in form if field.widget.input_type != 'hidden' %}
                        <div class="form-group">
                            {{ field.label(class = 'col-sm-6 control-label')}}
                            <div class="col-sm-6">{{ field }}
                                {% if field.errors %}
                                    {% for error in field.errors %}
                                        <span class="text-danger"><b>{{ error }}</b></span>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </form>
            </div>
            <div class="col-md-3 hidden-xs hidden-sm">
                <img src="{{ url_for ('static', filename = 'image/silhouette50.png')}}" alt="Silhouette">
            </div>
        </div>
    </div>
{% endblock %}

