{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div>
                <form action="{{ url_for ('admin') }}" method="POST" class="form-horizontal">
                    {{ filter.csrf_token }}
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{{ filter.first_name.label }}</label>
                        <div class="col-sm-8">
                            {{ filter.first_name }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{{ filter.last_name.label }}</label>
                        <div class="col-sm-8">
                            {{ filter.last_name }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">{{ filter.gender.label }}</label>
                        <div class="col-sm-8">
                            {{ filter.gender }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Возраст:</label>
                        <div class="col-sm-4">
                            {{ filter.age_min }}
                        </div>
                        <div class="col-sm-4">
                            {{ filter.age_max }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Рост:</label>
                        <div class="col-sm-4">
                            {{ filter.height_min }}
                        </div>
                        <div class="col-sm-4">
                            {{ filter.height_max }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Вес:</label>
                        <div class="col-sm-4">
                            {{ filter.weight_min }}
                        </div>
                        <div class="col-sm-4">
                            {{ filter.weight_max }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Размер обуви:</label>
                        <div class="col-sm-4">
                            {{ filter.shoe_min }}
                        </div>
                        <div class="col-sm-4">
                            {{ filter.shoe_max }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Грудь:</label>
                        <div class="col-sm-4">
                            {{ filter.breast_min }}
                        </div>
                        <div class="col-sm-4">
                            {{ filter.breast_max }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Талия:</label>
                        <div class="col-sm-4">
                            {{ filter.waist_min }}
                        </div>
                        <div class="col-sm-4">
                            {{ filter.waist_max }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Бедра:</label>
                        <div class="col-sm-4">
                            {{ filter.thighs_min }}
                        </div>
                        <div class="col-sm-4">
                            {{ filter.thighs_max }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Фильтр:</label>
                        <div class="col-sm-4">
                            <button class="btn btn-primary" type="submit">Применить</button>
                        </div>
                        <div class="col-sm-4">
                            <button class="btn btn-warning" type="reset">Сбросить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-9 content">
            {% for one in all_models %}
                {% if loop.first or loop.index0 is divisibleby 3 %}
                    <div class="row">
                        {% if loop.index0 is divisibleby 3 %}
                            </div>
                        {% endif %}
                {% endif %}
                <div class="col-md-4 ">
                    <div class="thumbnail">
                        <img src="{{ url_for ('static', filename ='photo_models/' + one.base_photo) }}" alt="{{ one.first_name }} {{ one.last_name }}"  >
                        <div class="caption">
                            <h3>{{ one.first_name }} <small>{{ one.last_name }}</small></h3>
                            <ul>
                                <li>Тут возраст!</li>
                                <li>{{ one.telephone }}</li>
                                <li>{{ one.height }}</li>
                            </ul>
                            <a href="#" class="btn btn-defalt">Подробнее</a>
                        </div>
                    </div>
                </div>
                {% if loop.last %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}